.individual-recipe {
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  gap: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid grey;
}

.individual-recipe button {
    cursor: pointer;
    margin: 0 10px;
    background-color: #c6f1e9;
    border-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    color:#214841;
    font-size: 1em;
}

#delete-btn {
    background-color: #eb857e;
    color:#ffffff;
    border: 1px solid #57302d;
    margin-left: 0;
}