/* 
orange #F46A60
teal #56B7A3
*/

body {
  margin: 0;
  position: relative;
  color: #4c4c4c;
  background-color: seashell;

}

/* html{
  height: 100%;
} */

#root {
  font-family: 'Open Sans', sans-serif;
}

.page-content {
  display: flex;
  margin: 0 50px;
  background-color: seashell;
  gap: 30px;
  overflow: scroll;
}

.recipe-container {
  width: 80%;
}

.side-bar {
  background-color: #56B7A3;
  position: relative;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  display: flex;
  padding: 0.5em;
  padding-left: 1.5em;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.nav-wrap {
  display: flex;
  gap: 3em;
}

.nav-link{
  color: #56B7A3;
  text-decoration: none;
}
.nav-link:hover{
  color: grey
}



.logo {
  height: 50px;
  width: auto;
}


.individual-recipe {
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 1em;
  gap: 1em;
}



.image {
  width: 30em;
}

.low-cal-badge {
  font-size: 0.3em;
  background-color: rgb(115, 115, 237);
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  height: 20px;
}



